*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
}

body {
    min-height: 100vh;
    line-height: 1;
    text-rendering: optimizeSpeed;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    line-height: inherit;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
[role="button"] {
    cursor: pointer;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ol,
ul {
    list-style: none;
}

[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
    appearance: none;
    width: 100%;
    outline: 0;
}

textarea {
    vertical-align: top;
    overflow: auto;
}

[type='checkbox'],
[type='radio'] {
    appearance: none;
    outline: 0
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}