/* CONTENT */
/* ABOUT US */
#about-us {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5.9' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), url("../../../_global-resources/textures/light-leaks.jpg"), var(--ivos-orange);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge, soft-light, normal;
    padding: 0 5em;
}

#about-us-decor {
    position: absolute;
    height: 150%;
    right: -25%;
    z-index: -1;
}

#about-us-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    text-align: right;
    width: 50%;
}

#about-us-photos {
    display: flex;
    flex-flow: row nowrap;
    gap: 2em;
}


#about-us-content span:hover {
    color: var(--ivos-yellow);
}

.photos-column {
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
}

.photos-column img {
    background: var(--ivos-yellow);
    border: 0.75em solid var(--ivos-white);
    width: 100%;
}

#about-us-photos-column1 {
    width: 15em;
}

.marquee-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
}

#about-us-photos-column1 .marquee-content {
    animation: scroll-top-down linear 40s infinite;
}

#about-us-photos-column2 {
    width: 10em;
}

#about-us-photos-column2 .marquee-content {
    animation: scroll-top-down linear 20s infinite reverse;
}

/* MEMBERS */
#members {
    background: url("../../../_global-resources/textures/film-scratch.jpg"), var(--ivos-yellow);
    padding: 0 10em;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light, normal;
}

#members-name {
    position: absolute;
    top: -0.1em;
    right: -0.1em;
    display: flex;
    flex-flow: column nowrap;

    font-family: "Arsis";
    font-size: 15em;
    line-height: 0.75em;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--ivos-yellow);
    mix-blend-mode: multiply;
}

#members-name span:nth-of-type(3) {
    color: var(--ivos-yellow);
}

#members-photo {
    position: absolute;
    height: 90%;
    right: -5em;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}   

#members-description {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    height: 100%;
    width: 50%;
    gap: 1em;
}

#members-description h2:hover {
    color: var(--ivos-red);
}

#members-description span:hover {
    color: var(--ivos-red);
}

#members-description hr {
    width: 100%;
    border: 1px solid var(--ivos-black);
}

/* HISTORY */
#history {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5.9' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), url("../../../_global-resources/textures/light-leaks.jpg"), url("../images/ivos_concert.jpg"), var(--ivos-red);
    padding: 0 10em;
    background-size: cover, cover, cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay, hard-light, multiply, normal;
}

@keyframes scroll-top-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-100% - 2em));
    }
}

h2 {
    font-family: "Arsis";
    font-size: 10em;
}